<div class="row">
    <div class="col-md-12 pd-left-0 pd-right-0">
        <ol class="breadcrumb">
            <li><a href="#">产品管理</a></li>
            <li class="active">订单列表</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>姓名</th>
                <th>联系电话</th>
                <th>产品型号</th>
                <th>地址</th>
                <th>公司名称</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${page.page}">
                <td th:text="${order.name}"></td>
                <td th:text="${order.phone}"></td>
                <td th:text="${order.model}"></td>
                <td th:text="${order.address}"></td>
                <td th:text="${order.companyName}"></td>
                <td th:text="${order.remark}"></td>
            </tr>
            </tbody>
        </table>
        <nav class="pagination-nav">
            <ul class="pagination az-pagination g-pagination" th:if="${page.getTotalPages() != 0}">
                <li th:class="${page.hasPrevious()}? '' : 'disabled'">
                    <span th:if="${not page.hasPrevious()}">上一页</span>
                    <a class="js-go-to-page" th:if="${page.hasPrevious()}" onclick="goToPage(this)"
                       th:href="@{${page.getUrl()}(page=${page.getNumber()-1})}"
                       title="上一页">上一页</a>
                </li>
                <li th:each="item : ${page.getItems()}" th:class="${item.isCurrent()}? 'active' : ''">
                    <a th:if="${item.isCurrent()}" onclick="javascript:void(0);" th:text="${item.getNumber()}"></a>
                    <a th:if="${not item.isCurrent()}"
                       th:href="@{${page.url}(page=${item.getNumber()})}" onclick="goToPage(this)"
                       th:text="${item.getNumber()}"></a>
                </li>
                <li th:class="${page.hasNext()}? '' : 'disabled'">
                    <span th:if="${not page.hasNext()}">下一页</span>
                    <a class="js-go-to-page" th:if="${page.hasNext()}" onclick="goToPage(this)"
                       th:href="@{${page.getUrl()}(page=${page.getNumber()+1})}"
                       title="下一页">下一页</a>
                </li>
            </ul>
        </nav>
    </div>
</div>