<div class="row">
    <div class="col-md-12 pd-left-0 pd-right-0">
        <ol class="breadcrumb">
            <li><a href="#">产品管理</a></li>
            <li class="active">新增产品分类</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" id="js-new-level" role="form" enctype="multipart/form-data"
              th:action="@{/admin/product/level/update/{id}(id=${productLevel.id})}" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">分类名称：</label>
                <div class="col-sm-9 need-validate">
                    <input type="text" name="name" class="form-control" th:value="${productLevel.name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">分类级别：</label>
                <div class="col-sm-9">
                    <select class="form-control" name="level" onchange="displayDiv(this)">
                        <option th:selected="${ 1 == productLevel.level}">1</option>
                        <option th:selected="${ 2 == productLevel.level}">2</option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="product_one_level" th:if="${2 == productLevel.level}">
                <label class="col-sm-3 control-label">选择一级分类：</label>
                <div class="col-sm-9">
                    <select class="form-control" name="parentId">
                        <option th:each="category : ${category}"
                                th:value="${category.id}"
                                th:text="${category.name}" th:selected="${category.id== productLevel.parentId}"></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-default">确定</button>
            </div>
        </form>
    </div>
</div>