<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="content">
    <div th:id="'product-' + ${parent.id}">
        <div class="row">
            <div class="col-xs-12">
                <h3 th:text="${parent.name}"></h3>
            </div>
        </div>
        <div class="row" th:each="product : ${list}">
            <div class="col-xs-12 col-md-3">
                <img src="" th:src="${product.imgUrl}" alt="" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-9">
                <table class="product-table table table-striped">
                    <tbody>
                    <tr>
                        <td class="col-xs-4">名称</td>
                        <td class="col-xs-8">
                            <span><a href="#" th:href="@{/ad/product-list/detail/{id}(id=${product.id})}"
                                     th:text="${product.name}"></a></span>
                            <span><a class="shopping-list" href="#" th:href="@{/ad/product-list/detail/{id}(id=${product.id})}">查看详情</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-4">型号</td>
                        <td class="col-xs-8">
                            <span th:text="${product.detail.model}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-4">材料</td>
                        <td class="col-xs-8" th:text="${product.detail.material}"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-4">尺寸</td>
                        <td class="col-xs-8" th:text="${product.detail.size}"></td>
                    </tr>
                    <tr>
                        <td class="col-xs-4">描述</td>
                        <td class="col-xs-8" th:text="${product.detail.remark}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="product-hr"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>