.left-menu {
    background-color: #222d32;
    padding-left: 0;
    padding-right: 0;
}

.left-menu .logo {
    background: none;
}

.admin-header {
    background-color: #3c8dbc;
}

.admin-header a {
    color: #fff;
}

.list-group-item a {
    color: #8aa4af;
}

.list-group-item a:hover {
    color: #fff;
}

.left-menu .fa {
    width: 20px;
}

div.panel-heading:hover {
    background-color: #1e282c;
    cursor: pointer;
    border-left: 3px solid #3c8dbc;
}

.menu .panel-heading {
    border-left: 3px solid transparent;
}

.menu .header-active {
    border-left: 3px solid #3c8dbc;
}

.pd-left-0 {
    padding-left: 0;
}

.pd-right-0 {
    padding-right: 0;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

#js-right-content {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
}

.white {
    color: #fff !important;
}