body {
    color: #575656;
}

header {
    background: #fff;
}

p {
    text-indent: 2em;
    font-size: 12px;
    margin-top: 10px;
}

a, a:hover, a:focus {
    color: #c20012;
}

.corperate p {
    font-size: 1.4rem;
}

.h2-contact {
    margin-top: 20px;
}

.navbar-brand img {
    width: 242px;
    height: 88px;
}

.blades-ul {
    margin-top: 5rem;
    margin-left: 25rem;
}

.blades-ul-cart li a {
    color: #c20012;
}

.blades-ul > li {
    margin-left: 10px;
    margin-right: 15px;
}

.blades-ul > li > a {
    color: #575656;
    font-size: 15px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.bar {
    height: 2px;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    background: #c20012;
    opacity: 0;
    -webkit-transition: top 0.19s ease-in-out 0s, opacity 0.25s ease-in-out;
    transition: top 0.19s ease-in-out 0s, opacity 0.25s ease-in-out;
}

.blades-ul > li:hover > a > .bar {
    bottom: 0;
    top: auto;
    background-color: #c20012;
}

.blades-ul > li.dropdown.open > a > .bar, .blades-ul > li:hover > a > .bar, .blades-ul > li.active > a > .bar {
    top: 100%;
    opacity: .5;
}

li.open .dropdown-menu li a:before, .blades-ul li.dropdown:hover ul.dropdown-menu li a:before {
    content: ">";
    color: #c20012;
    padding-right: 10px;
}

.footer {
    margin-top: 30px;
    letter-spacing: .05em;
    border-top: 2px solid #c20012;
    padding-top: 20px;
}

.footer > p {
    text-align: center;
}

.blades-ul > li.dropdown.open > a > .bar, .blades-ul > li:hover > a > .bar, .blades-ul > li.active > a > .bar {
    top: 91px;
    opacity: 1;
    background: #c20012;
}

.ad-navbar {
    border-bottom: 2px solid #c20012;
}

#index p {
    text-indent: 0;
}

div.divider hr {
    margin: 20px 0;
    border-color: #c20012;
}

.member-img {
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.member-img img {
    width: 100%;
}

.info-content {
    text-align: center !important;
    background-color: #c20012;
    color: #fff;
    display: none;
    font-size: 14px;
    padding-top: 50px;
}

.member-content > div {
    vertical-align: middle;
}

.product-process h5 {
    padding-left: 15px;
}

.company .title {
    font-weight: bold;
}

a.download {
    color: #c20012;
    font-size: 14px;
    font-weight: bold;
}

.product-handbook p {
    text-indent: 0;
}

.product-handbook p i {
    margin-right: 10px;
}

.news-title p {
    text-indent: 0;
}

.news-title p.new-list {
    font-size: 15px;
}

.news-title a {
    font-size: 15px;
}

.news-footer p {
    text-indent: 0;
}

.news-footer {
    clear: both;
    padding: 10px 0 0 0;
    border-top: 1px solid #eee;
    margin-top: 15px;
    color: #888;
}

.news-footer span {
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #ddd;
}

.news-footer span:last-child {
    border-right: 0;
}

.case-company-name {
    font-size: 16px;
}

.custom-blade p {
    text-indent: 0;
}

.news-p p {
    text-indent: 0;
}

#js-zoom-image .modal-body {
    padding: 0;
    width: 600px;
    height: 500px;
}

#js-zoom-image img {
    width: 600px;
    height: 500px;
}

.img-zoom img {
    height: 185px;
}

.is-not-mobile {
    display: block;
}

.is-mobile {
    display: none;
}

@media (min-width: 992px) {
    .blades-ul > li.dropdown.open > a > .bar, .blades-ul > li:hover > a > .bar, .blades-ul > li.active > a > .bar {
        top: 100%;
    }

    header, .navbar-header {
        height: 150px;
    }

    .content {
        padding-top: 160px;
    }

}

@media screen and (max-width: 767px) {
    .mobile-content {
        margin-top: 105px;
    }

    .blades-ul > li.dropdown.open > a > .bar, .blades-ul > li:hover > a > .bar, .blades-ul > li.active > a > .bar {
        opacity: 0;
        top: 0;
    }

    .blades-ul {
        margin-top: 0;
        margin-left: 10px;
    }

    .is-not-mobile {
        display: none;
    }

    .is-mobile {
        display: block;
    }
}