.radio-group {
    background-color: #c20012;
    width: 100%;
    height: 29px;
    color: #fff;
    margin-bottom: 1px;
}

.radio-group > .title {
    display: inline-block;
}

.radio-group > .title > span, .radio-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 29px;
}

.radio-filter {
    float: right;
    display: inline-block;
}

.radio-button {
    width: 29px;
    height: 29px;
    color: #c20012;
    border: 1px solid #c20012;
    display: inline-block;
    background: #fff;
}

.radio-button > .glyphicon {
    display: inline-block;
    color: #c20012;
    font-size: 21px;
    line-height: 23px;
    margin-left: -3px;
}

.on .glyphicon {
    display: inline-block;
}

.off .glyphicon {
    display: none;
}

.product-table .col-xs-8 {
    color: #c20012;
}

.product-hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    border-top: 1px dashed #c20012;
}

.radio-group .reset {
    background: #c20012;
}

#js-reset {
    cursor: pointer;
    background:gray;
}

.shopping-list {
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #c20012;
}