<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>成功案例</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4>特别感谢以下公司使用我们微咔刀片(排名不分先后)。<i style="font-size: 12px">微咔-致力于打造专业，务实，品质，科技，分享的领先企业。</i></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-4" th:each="case: ${cases}">
                <img th:src="${case.img}" class="img-responsive" />
                <p class="text-center"><strong class="case-company-name"><a href="#" th:href="${case.url}" target="_blank" th:text="${case.companyName}"></a></strong></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>