<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <meta charset="UTF-8"/>
    <title>联系我们</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content" id="about">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="h2-contact">您可以随时联系我们。</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <img src="../static/images/chat.png" alt="联系我们" height="80" width="80" th:src="@{/images/chat.png}"/>
            <h3>联系我们</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <h4>深圳:</h4>
            <ul>
                <li>联系人：周先生</li>
                <li>电话：<strong>0755-36535203</strong></li>
                <li>手机：<strong>13715273931</strong></li>
                <li>传真：0755-23723203</li>
                <li>邮箱：sales@personnachina.com</li>
                <li>地址：深圳市宝安区沙井街道中心路宏海汇盈大厦503</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h4>郑州:</h4>
            <ul>
                <li>联系人：刘先生</li>
                <li>电话：<strong>0371-63355512</strong></li>
                <li>手机：<strong>13027721661</strong></li>
                <li>邮箱：sales01@personnachina.com</li>
                <li>地址：郑州市二七区万达广场2515室</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>