<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>工作机会</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>一“切”问题，迎“刃”而解。</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 corperate">
                <h3>公司工作机会</h3>
                <p>在这里，你们都是精英，相信你一定会找到自己热爱的那份工作。我们需要销售、美工编辑、精英。</p>
                <p>期待您的加入<strong>sales@personnachina.com</strong>。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 corperate">
                <h4>渠道销售专员(5人)：</h4>
                <h5>岗位职责：</h5>
                <ol>
                    <li>负责进口刀片销售及品牌推广。</li>
                    <li>具备Personna刀片知识，为客户做有效的选择。</li>
                    <li>市场信息的不断搜集。</li>
                    <li>维持与客户的关系并开发新的客户资源，签订订单。</li>
                    <li>向主管汇报及提交报告。</li>
                </ol>
                <h5>任职要求：</h5>
                <ol>
                    <li>大专以上学历。</li>
                    <li>易沟通，灵活，有思路。</li>
                    <li>良好的团队合作精神。</li>
                    <li>能适应出差，可长期在外。</li>
                    <li>有玻璃行业，薄膜，纺织化纤，玻璃纤维，食品，医疗行业经验的优先。</li>
                </ol>
            </div>
            <div class="col-xs-10 corperate">
                <h4>美工编辑(2人)：</h4>
                <h5>岗位职责：</h5>
                <ol>
                    <li>对公司推广的产品进行拍摄及后期美化处理，并将产品基础资料录入系统。</li>
                    <li>负责结合产品特性制作图文并茂、有美感、能引起关注的描述模板，充分展现产品形象与特点。</li>
                    <li>负责公司网络平台的图片处理、抠图、美化、设计、修改、更新。</li>
                    <li>定期制作促销图片和页面，配合店铺销售活动，美化修改产品页面。</li>
                    <li>根据活动和季节定期更新店铺视觉，突出和强调产品独特卖点，传递其价值主张。</li>
                    <li>制作各种网络广告和海报图片，并配合与产品推广有关的其它工作的执行。</li>
                    <li>可全职或兼职。</li>
                </ol>
                <h5>任职要求：</h5>
                <ol>
                    <li>艺术设计、中文、新闻学、美学、摄影等相关专业，大专以上学历。</li>
                    <li>熟练使用Photoshop等图片处理软件和Office办公软件。</li>
                    <li>有平面媒体、图片库或图片网站的图片编辑和拍摄经验者优先。</li>
                </ol>
            </div>
            <div class="col-xs-10 corperate">
                <h4>文案策划(5人)：</h4>
                <h5>岗位职责：</h5>
                <ol>
                    <li>负责品牌各类项目策划创意及文案撰写，影视剧本、拍摄角本撰写。</li>
                    <li>负责品牌产品的描述和推广创意文案的撰写。</li>
                    <li>负责品牌新闻稿件的撰写。</li>
                    <li>负责公司网络渠道创意文案的撰写。</li>
                    <li>配合其他部门，执行后期实施工作。</li>
                </ol>
                <h5>任职要求：</h5>
                <ol>
                    <li>广告策划、新闻、传播学、中文等相关专业毕业。</li>
                    <li>精通办公室软件，熟练运用Photoshop设计软件，有摄影功底者优先考虑。</li>
                    <li>思维活跃，构思大胆创新，有较强时代嗅觉能力。</li>
                    <li>文字功底扎实，能准确完整的表达自己的创作思想。</li>
                    <li>对创意品牌，潮流品牌，设计行业，时尚行业有一定积累者，优先考虑。</li>
                </ol>
            </div>
        </div>
    </div>
</div>
</body>
</html>