<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>资料介绍</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h3>资料下载</h3>
        <div class="row product-handbook">
            <div class="col-md-12">
                <h3>产品手册</h3>
                <p th:each=" productFile : ${productFiles}">
                    <a href="#" th:href="${productFile.pdfURL}" class="download" target="_blank">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        <span th:text="${productFile.pdfName}"></span>
                        (<span th:text="${productFile.postfix}"></span> - <span th:text="${productFile.size}"></span> )</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container">
        <div class="row product-handbook">
            <div class="col-md-12">
                <h3>视频介绍</h3>
                <!--<video th:src="@{/video/IMG_3556.MP4}" width="600" height="300" controls="controls">
                    您的浏览器不支持播放
                </video>-->
                <p th:each=" productFile : ${productFileList}">
                    <a href="#" th:href="${productFile.videoLink}" class="download" target="_blank">
                        <i class="glyphicon glyphicon-film"></i>
                        <span th:text="${productFile.videoDesc}"></span>
                        </a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>