<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>404</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>404,未找到页面</h1>
                <h4>欢迎继续关注<strong>微咔</strong>-<i>致力于打造专业，务实，品质，科技，分享的领先企业。</i></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
</div>
</body>
</html>