<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>产品详情</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/product.css" rel="stylesheet" th:href="@{/css/product.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h3>产品概要</h3>
        <div class="row">
            <div class="col-md-3">
                <img src="../static/images/guide.jpg" class="img-responsive" alt="" th:src="@{/images/guide.jpg}" />
            </div>
            <div class="col-md-9">
                <div class="overview">
                    <p>产品型号：<span th:text="${detail.model}"></span></p>
                    <p>产品描述：<span th:text="${detail.remark}"></span></p>
                </div>
                <a href="#order-info" id="js-order-btn" class="btn btn-default order">产品订购</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container">
        <h3>产品细节</h3>
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive center-block" th:src="${detail.detailImg}" src="../static/images/20170110155457_9766.jpg" alt="" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container" id="order-info">
        <h3>订购信息</h3>
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" id="js-new-order" role="form" th:action="@{/ad/order}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-name" class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="input-name" name="name" placeholder="姓名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-company" class="col-sm-3 control-label">公司名称：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="companyName" id="input-company" placeholder="公司名称"/>
                                <input type="hidden" name="model" th:text="${detail.model}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">地址：</label>
                            <div class="col-sm-9">
                                <div data-toggle="distpicker">
                                    <select data-province="---- 选择省 ----" class="form-control" name="province" style="display:inline-block;width: 30%"></select>
                                    <select data-city="---- 选择市 ----" class="form-control" name="city" style="display:inline-block;width: 30%"></select>
                                    <select data-district="---- 选择区 ----" class="form-control" name="area" style="display:inline-block;width: 37.8%"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-phone" class="col-sm-3 control-label">联系电话：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="phone" id="input-phone" placeholder="联系电话"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-email" class="col-sm-3 control-label">电子邮箱：</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" id="input-email" placeholder="电子邮箱"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-order-info" class="col-sm-3 control-label">订购信息：</label>
                            <div class="col-sm-9">
                                <textarea type="text" rows="10" name="remark" class="form-control" id="input-order-info"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default" id="js-create-order">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>