<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>产品列表</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/product.css" rel="stylesheet" th:href="@{/css/product.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="group-product" th:each="product : ${products}">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <div class="radio-group">
                    <div class="title"><span th:text="${product.name}"></span></div>
                    <div class="radio-filter">
                        <div class="radio-wrapper">
                            <a class="radio-button off" href="#">
                                <span class="radio-button-label"></span><span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                        <input type="checkbox" name="product" th:value="${product.id}"
                               style="position: absolute; top: -200px; left: -200px;"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <div class="radio-group" id="js-reset">
                <div class="title"><span>重置</span></div>
                <div class="radio-filter">
                    <div class="radio-wrapper">
                        <a class="reset" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-product-detail"></div>
</div>
</body>
</html>