<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>产品列表</title>
    <link type="text/css" href="../static/css/product.css" rel="stylesheet" th:href="@{/css/product.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="product-category">
        <div class="container content">
            <div class="row">
                <div class="group-product" th:each="product : ${products}">
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                        <div class="radio-group">
                            <div class="title"><span th:text="${product.name}"></span></div>
                            <div class="radio-filter">
                                <div class="radio-wrapper">
                                    <a class="radio-button off" href="#">
                                        <span class="radio-button-label"></span><span
                                            class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </div>
                                <input type="checkbox" name="product" th:value="${product.id}"
                                       style="position: absolute; top: -200px; left: -200px;"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <div class="radio-group" id="js-reset">
                        <div class="title"><span>重置</span></div>
                        <div class="radio-filter">
                            <div class="radio-wrapper">
                                <a class="reset" href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="js-product-detail"></div>
        <div class="modal fade" id="js-info" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">订购信息</h4>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="input-name" class="col-sm-3 control-label">姓名：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-name" placeholder="姓名"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-phone" class="col-sm-3 control-label">手机：</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" id="input-phone"
                                           placeholder="手机"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input-address" class="col-sm-3 control-label">详细地址：</label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" id="input-address"/>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-default">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>