<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>关于我们</title>
    <link type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css.bak}" rel="stylesheet"/>
    <link type="text/css" href="../static/css/wir.css"
          th:href="@{/css/wir.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-5 col-xs-2">
                <div class="circle">导读</div>
                <div class="line"></div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <img src="../static/images/guide.jpg" alt="" th:src="@{/images/guide.jpg}" class="img-responsive"/>
                    <p style="text-indent: 0">
                        威咔公司致力于打造专业，务实，品质，科技，分享的领先企业，我们期待与您携手，将您脑海里的设想变为现实！
                    </p>
                </div>
            </div>
        </div>
        <div class="row module">
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <img src="../static/images/guide.jpg" alt="" th:src="@{/images/guide.jpg}" class="img-responsive"/>
                    <p>
                        威咔科技（深圳）有限公司是一家专注提供高品质刀具和技术解决方案的企业，我司是顶尖精准切割百年企业美国科锐森，德国莫扎特在华的营运负责企业。
                        威咔公司顾问团队是由在欧美刀具行业资深技术人士组成，部分技术顾问从业40年以上，可以给客户解决各种刀具难题。
                        公司主要业务和经营产品为医疗、食品、科学实验、纺织纤维，特种行业等诸多领域的刀具及方案提供，欢迎同业和终端需求者洽谈合作。
                    </p>
                </div>

            </div>
            <div class="col-xs-2">
                <div class="circle">公司简介</div>
                <div class="line" style="height: 160%"></div>
            </div>
        </div>
        <div class="row module" id="js-idea">
            <div class="col-xs-offset-5 col-xs-2">
                <div class="circle">公司理念</div>
                <div class="line" style="height: 160%"></div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <img src="../static/images/guide.jpg" alt="" th:src="@{/images/guide.jpg}" class="img-responsive"/>
                    <p style="text-indent: 0">威咔公司致力于打造专业，务实，品质，科技，分享的领先企业，我们期待与您携手，将您脑海里的设想变为现实。
                    </p>
                </div>
            </div>
        </div>
        <div class="row module" id="js-venture">
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <img src="../static/images/guide.jpg" alt="" th:src="@{/images/guide.jpg}" class="img-responsive"/>
                    <p>
                        2017年，威咔科技与美国Crescent（科锐森）公司正式达成战略合作，全面负责美国Crescent（科锐森）旗下全系列产品在中国的销售及服务。
                        美国Crescent是世界四大病理刀片制造商之一，有着百年精准刀片制造经验，在行业内具有良好的信誉与知名度。
                        美国Crescent具有业界经验丰富的产品工程师，且完成了多项具有创新性的医疗应用刀片，如可将活组织切薄至2微米，可完美实现眼角膜手术以及去除动脉中凝血的专利刀片等。
                        在工业领域里，美国Crescent公司服务于全球各地的高端制造商，从常规基础刀片到专用订制刀片，可快速有效提高生产效率，优化成本。
                    </p>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="circle">合作企业</div>
                <div class="line" style="height: 160%"></div>
            </div>
        </div>
        <div class="row module" id="js-contact-us">
            <div class="col-xs-offset-5 col-xs-2">
                <div class="circle">联系我们</div>
                <div class="line" style="height: 160%"></div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <h3>深圳</h3>
                    <ul>
                        <li>联系人：周先生</li>
                        <li>电话：0755-36535203</li>
                        <li>传真：0755-23723203</li>
                        <li>手机：13715273931</li>
                        <li>邮箱：sales@personnachina.com</li>
                        <li>地址：深圳市宝安区沙井街道中心路宏海汇盈大厦503</li>
                    </ul>
                    <h3>郑州</h3>
                    <ul>
                        <li>联系人：刘先生</li>
                        <li>电话：0371-63355512</li>
                        <li>手机：13027721661</li>
                        <li>邮箱：sales01@personnachina.com</li>
                        <li>地址：郑州市二七区万达广场2515室</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container product-process">
        <h3>生产流程</h3>
        <div class="row">
            <h5>Strip steel</h5>
            <div class="col-md-2">
                <div class="img-wrap">
                    <img src="" th:src="@{/images/bandstahl.jpg}"/>
                </div>
            </div>
            <div class="col-md-10">
                <div class="text">
                    <ul>
                        <li>Strip steel as a raw material</li>
                        <li>Incoming goods controls: surface, edge quality, straightness, metallurgy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>Strip steel</h5>
            <div class="col-md-2">
                <div class="img-wrap">
                    <img src="" th:src="@{/images/bandstahl.jpg}"/>
                </div>
            </div>
            <div class="col-md-10">
                <div class="text">
                    <ul>
                        <li>Strip steel as a raw material</li>
                        <li>Incoming goods controls: surface, edge quality, straightness, metallurgy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container company" id="js-company">
        <div class="row">
            <div class="col-md-12">
                <h3>合作伙伴</h3>
                <p>
                    <span class="title">MOZART blades are recognisable by these features:</span>
                </p>
                <ul>
                    <li><span>ideally tailored customer solutions for each application</span></li>
                    <li><span>excellent durability, high dependability</span></li>
                    <li><span>closest tolerances and perfect grind in large runs</span></li>
                    <li><span>hard coatings such as TiN, ceramic and diamond</span></li>
                    <li><span>optimum packaging solutions for industry and the trades</span></li>
                </ul>
                <p>
                    <span class="title">MOZART blades are recognisable by these features:</span>
                </p>
                <ul>
                    <li><span>ideally tailored customer solutions for each application</span></li>
                    <li><span>excellent durability, high dependability</span></li>
                    <li><span>closest tolerances and perfect grind in large runs</span></li>
                    <li><span>hard coatings such as TiN, ceramic and diamond</span></li>
                    <li><span>optimum packaging solutions for industry and the trades</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        $(function () {
            var id = window.location.href.split("#")[1];
            if (id != undefined) {
                $('html, body').animate({
                    scrollTop: $("#" + id).offset().top - 150
                }, 1000);
            }
        })
    </script>
</th:block>
</body>
</html>