<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="headerLayout">
<head>
    <title>关于我们</title>
    <link type="text/css" href="../static/css/wir.css"
          th:href="@{/css/wir.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content" id="about">
    <div class="container">
        <!--<div class="row">
            <div class="col-xs-offset-5 col-xs-2">
                <div class="circle">导读</div>
                <div class="line"></div>
            </div>
            <div class="col-xs-5">
                <div class="col-xs-12">
                    <img src="../static/images/guide.jpg" alt="" th:src="@{/images/guide.jpg}" class="img-responsive"/>
                    <p style="text-indent: 0">
                        威咔公司致力于打造专业，务实，品质，科技，分享的领先企业，我们期待与您携手，将您脑海里的设想变为现实！
                    </p>
                </div>
            </div>
        </div>-->
        <div class="row module">
            <div class="col-xs-12 col-sm-12 col-md-2 is-mobile">
                <div class="circle">公司简介</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="col-xs-12">
                    <img src="../static/images/company.jpg" alt="" th:src="@{/images/company.jpg}" class="img-responsive"/>
                    <p>
                        威咔科技（深圳）有限公司是一家专注提供高品质刀具和技术解决方案的企业，我司是顶尖精准切割百年企业美国科锐森，德国莫扎特在华的营运负责企业。
                        威咔公司顾问团队是由在欧美刀具行业资深技术人士组成，部分技术顾问从业40年以上，可以给客户解决各种刀具难题。
                        公司主要业务和经营产品为医疗、食品、科学实验、纺织纤维，特种行业等诸多领域的刀具及方案提供，欢迎同业和终端需求者洽谈合作。
                    </p>
                </div>
            </div>
            <div class="col-md-2 is-not-mobile">
                <div class="circle">公司简介</div>
                <div class="line" style="height: 160%"></div>
            </div>
        </div>
        <div class="row module" id="js-idea">
            <div class="col-md-offset-5 col-xs-12 col-sm-12 col-md-2">
                <div class="circle">价值刀具</div>
                <div class="line" style="height: 160%"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="col-xs-12">
                    <img src="../static/images/value.jpg" alt="" th:src="@{/images/value.jpg}" class="img-responsive"/>
                    <p style="text-indent: 0">
                        我们拥有专业的工程技术人员，与欧美前沿刀具制造商合作，为您打造一流的私人订制刀具。
                        我们秉承高品质，高性价，高适用特性标准刀具，为您的切割保驾护航!
                    </p>
                </div>
            </div>
        </div>
        <div class="row module" id="js-venture">
            <div class="col-xs-12 col-sm-12 col-md-2 is-mobile">
                <div class="circle">合作企业</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="col-xs-12">
                    <img src="../static/images/partner.jpg" alt="" th:src="@{/images/partner.jpg}" class="img-responsive"/>
                    <p>
                        我们与欧美一流刀具制造商如德国莫扎特，美国科锐森，美国博森钠，英国钻石，英国DD等合作。
                        精品一手货源，正品行货保障！
                    </p>
                </div>
            </div>
            <div class="col-md-2 is-not-mobile">
                <div class="circle">合作企业</div>
                <div class="line" style="height: 160%"></div>
            </div>
        </div>
        <div class="row module" id="js-contact-us">
            <div class="col-md-offset-5 col-xs-12 col-sm-12 col-md-2">
                <div class="circle">联系我们</div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="col-xs-12">
                    <h3>深圳</h3>
                    <ul>
                        <li>联系人：郭经理</li>
                        <li>手机：18126403613</li>
                        <li>电话：0755-23009391</li>
                        <li>邮箱：sales@wecutchina.com</li>
                        <li>地址：深圳市龙华新区龙华街道油松路油富综合楼619号</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container product-process">
        <h3>生产流程</h3>
        <div class="row">
            <h5>Strip steel</h5>
            <div class="col-md-2">
                <div class="img-wrap">
                    <img src="" th:src="@{/images/bandstahl.jpg}"/>
                </div>
            </div>
            <div class="col-md-10">
                <div class="text">
                    <ul>
                        <li>Strip steel as a raw material</li>
                        <li>Incoming goods controls: surface, edge quality, straightness, metallurgy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>Strip steel</h5>
            <div class="col-md-2">
                <div class="img-wrap">
                    <img src="" th:src="@{/images/bandstahl.jpg}"/>
                </div>
            </div>
            <div class="col-md-10">
                <div class="text">
                    <ul>
                        <li>Strip steel as a raw material</li>
                        <li>Incoming goods controls: surface, edge quality, straightness, metallurgy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="divider">
            <hr/>
        </div>
    </div>
    <div class="container company" id="js-company">
        <div class="row">
            <div class="col-md-12">
                <h3>合作伙伴</h3>
                <p>
                    <span class="title">MOZART blades are recognisable by these features:</span>
                </p>
                <ul>
                    <li><span>ideally tailored customer solutions for each application</span></li>
                    <li><span>excellent durability, high dependability</span></li>
                    <li><span>closest tolerances and perfect grind in large runs</span></li>
                    <li><span>hard coatings such as TiN, ceramic and diamond</span></li>
                    <li><span>optimum packaging solutions for industry and the trades</span></li>
                </ul>
                <p>
                    <span class="title">MOZART blades are recognisable by these features:</span>
                </p>
                <ul>
                    <li><span>ideally tailored customer solutions for each application</span></li>
                    <li><span>excellent durability, high dependability</span></li>
                    <li><span>closest tolerances and perfect grind in large runs</span></li>
                    <li><span>hard coatings such as TiN, ceramic and diamond</span></li>
                    <li><span>optimum packaging solutions for industry and the trades</span></li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
<th:block layout:fragment="script">
    <script>
        $(function () {
            var id = window.location.href.split("#")[1];
            if (id != undefined) {
                $('html, body').animate({
                    scrollTop: $("#" + id).offset().top - 150
                }, 1000);
            }
        })
    </script>
</th:block>
</body>
</html>